name: Test

on: [ push, pull_request ]

jobs:
  test:
    timeout-minutes: 5
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        version: [ "2.12", "2.14", "2.16", "2.17", "2.18", "beta" ]

    container:
      image: dart:${{ matrix.version }}

    steps:
      - uses: actions/checkout@master
      - run: dart pub get
      - run: ./tool/run_coverage_locally.sh
      - uses: codecov/codecov-action@v1
        if: matrix.version == '2.18'
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          flags: unittests
